body {
  margin: 20px;
  white-space: inherit;
  background-color: lightblue;
}

.tabla-con-fondo {
  background-color: lightgray; /* Ejemplo de estilo de fondo */
  border-collapse: collapse; /* Evita bordes dobles */
  border: 1px solid black; /* Agrega un borde de 1px a la tabla */
}
.tabla-con-fondo th,
.tabla-con-fondo td {
  border: 1px solid black;
}
.caja {
  width: 100px;
  height: 25px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  position: center;
}
button {
  margin-bottom: 20px; /* Separación de 20px debajo del botón */
}

.main {
  width: 300px;
  height: 160px;
  margin: 20px;
  padding: 5px;
  border: 2px solid black;
}
.marco {
  width: 400px;
  height: 130px;
  margin: 20px;
  padding: 10px;
  border: 2px solid black;
}
.div {
  width: 200px;
  height: 500px;
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
  list-style-position: outside;
}
